<!DOCTYPE html>
<html>
    <head>
      <title>Welcome to FEMA Disasters</title>
    </head>
    <body>
        <div>FEMA Disaster Data:
            <a href="/index">Home</a>
        </div>
        <hr>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/6/67/FEMA_logo.svg/2000px-FEMA_logo.svg.png" width = 400>
        <p>This application uses public data from the <a href="https://www.fema.gov/openfema">OpenFEMA<a> project, but is NOT is fema.gov web site.
        {% block content %}{% endblock %}
    </body>
</html>